/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Niconne&family=Oregano:ital@0;1&display=swap');
/* Global Styles */
:root {
    --main-color: #2d2200;
    --secondary-color:#f5f0d0;
    --title: #c7983c;
    --quote-color: #534617;
    --about-color: #2d2200;
    --contact-color: #1b1501;
    --footer-color: #151000;
    --text-color: #fac031;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    overflow-x: hidden;
    margin: 0;
}

.section-padding{
    padding: 40px 0 20px 0;
}


/* Reset default styles for all elements */
ul {
    list-style: none;
}

/* Remove underline from all anchor tags */
a {
    text-decoration: none;
}



Container and Row Styles */
.container {
    margin: auto;
    max-width: 95%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 50px;
}

/* Top Section */

.top {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1000;

}

.top .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* Top animation after scrolling down */ 
.top::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}

.top.active::before {
    transform: translateY(0);
}


/* Logo styles */   
.top .logo img {
    width: 120px;
}

.logo-light{
filter: brightness(0) saturate(90%) invert(90%) sepia(10%) saturate(300%) hue-rotate(30deg);
}


/* Hamburger nav styles */
.top .nav-bar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;
    margin-right: 40px;
}

.top .nav-bar span.nav-hamburger{
    display: block;
    height: 4px;
    width: 40px;
    background-color: var(--secondary-color);
    position: relative;
}

.top .nav-bar span.nav-hamburger::before {
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-10px);
    background-color: var(--secondary-color);    
}

.top .nav-bar span.nav-hamburger::after {
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateY(10px);
    background-color: var(--secondary-color);
    transition: all 0.3s ease;     
} 

/* Convert hamburger-nav icon to cross-nav icon when clicked */
.top .nav-bar.active span.nav-hamburger {
    background-color: transparent;

}

.top .nav-bar.active span.nav-hamburger::before {
    transform: rotate(-135deg);
}

.top .nav-bar.active span.nav-hamburger::after {  
    transform: rotate(135deg);
}


/* nav item animation when nav bar is active */
.top .nav-bar.active {
    position: relative;
    top: 10%;
    z-index: 1001;
    transition: transform 0.3s ease;
}


/* Navigation item styles */
.top .nav-items {
    position: absolute;
    width: 200px;
    height: 100vh;
    background-color: var(--quote-color);
    right: 0;
    top: 0;
    padding: 78px 0 0 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    opacity: 0.8;
}

.top .nav-items.active {
    transform: translateX(0);
}

.top .nav-items a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: var(--secondary-color);
  text-align: center;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: bold;
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
   box-sizing: border-box;  
}

/* Menu item hover effect */

.top .nav-items a:hover{ 
    border-bottom: 0px; 
    color: var(--main-color);
}

.top .nav-items a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  -webkit-transition: all 0.3s ease 0s; 
  transition: all 0.3s ease 0s; 
  z-index: -1;
  background: var(--secondary-color); 
}

.top .nav-items a:hover:after {
     width: 100%;
    }

/* Nav Logo Style */
.top .nav-items .logo img {
    width: 200px;
    margin-top: 45vh;
}

.top .nav-items .logo {
    text-align: center;
}

/* Cart Icon Styles*/
.top .cart-icon {
    position: relative;
    margin-right: 50px;
    margin-left: auto;

}

.top .cart-icon i{
    font-size: 24px;
    color: var(--secondary-color);
    cursor: pointer;
}
.top .cart-icon .cart-count{
    display: flex;
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 800;
    transition: all 0.5 ease;

}

/* Cart Styles*/
.top .cart-tab {
    background-color: var(--quote-color);
    color: var(--secondary-color);
    width: 100%;
    top: 50%;
    left: 0;
    bottom: 0;
    position: fixed;
    /* transform: translateX(100%); */
    display: grid;
    grid-template-rows: 70px 70px 1fr 70px;
    overflow-y: auto;
    border-top: 3px solid var(--secondary-color);
    transform: translateY(100%);
    transition: transform 0.3s ease;
    z-index: 10000;
    
}

.top .cart-tab.active {
    transform: translateY(0);   
}

.top .cart-tab h1{
    padding: 20px;
    margin: 0;
    font-weight: 500;
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-weight: 500;
    font-size: 40px;
}

.top .cart-tab p{
    grid-row: 2;               
    display: flex;
    justify-content: flex-end; /* align text to the right */
    align-items: center;
}

.top .cart-tab p span{
    background-color: var(--about-color);
    border-radius: 50px;
    padding: 10px 20px;
    font-weight: normal;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 50px;
}
.top .cart-tab .cart-btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}

.top .cart-tab .cart-btn button{
    background-color: var(--secondary-color);
    color: var(var(--main-color));
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

.top .cart-tab .cart-item .cart-img img{
    width: 100%;
    object-fit: cover;
    height: 80px;
    border-radius: 20px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    display: block;
}

.top .cart-tab .cart-item {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 20px;
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: var(--contact-color);
    align-items: center;
    border: 10px solid var(--quote-color);
    border-radius: 20px;
}

.top .cart-tab .cart-item:nth-child(even){
    background-color: var(--main-color);
} 

.top .cart-tab .cart-list{
    overflow: auto;
}

.top .cart-tab .cart-list::-webkit-scrollbar{
    width: 0;
}


.top .cart-tab .cart-list .cart-item .cart-quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    cursor: pointer;
    color: var(--main-color);
    font-weight: 700;
    
}

.top .cart-tab .cart-list .cart-item .cart-quantity span:nth-child(2){
   background-color: transparent;
   color: var(--secondary-color);
   font-weight: 500;
}





/* Hero Section Styles */

/* Hero-Image Section */
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* hide any overflow content */
}

.hero-image::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./asset/img/hero-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.85;
    z-index: -2;
    animation: Inout 10s infinite;
}   

@keyframes Inout {
    0%, 100%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}   

.hero-image::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 41, 41, 0.4);
    opacity: 0.3;
    z-index: -1;
} 

.hero-image .hero-image-content {
    text-align: center;
    color: rgb(237, 239, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-image-content h2{
    font-size: 70px;    
    font-weight: bold;
    margin: -120px 0 0px 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;

}

.hero-image .hero-image-content p {
    font-size: 35px;
    font-family: "Dancing Script", monospace;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    margin: 15px 0 20px 0;

}

/* Hero Button Styles */

.hero-image .hero-image-content .hero-btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2.5px solid var(--main-color); 
    border-radius: 50px;
    color: var(--main-color);
    font-size: 24px;
    font-style: bold;
    font-family: 'Google Sans', sans-serif;
    cursor: pointer;
}

.hero-image .hero-image-content .hero-btn:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* About Page Styles */
.about-item {
    width:  calc(100%/2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about {
    background-image: url('./asset/img/background-about.png');
    background-size: calc(100% + 200px);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

/* About Title */ 

.about-title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.about-title h2{
    font-size: 55px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-style: bold;
    padding-bottom: 20px;
    color: var(--secondary-color);
}

.about-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--title);
    font-size: 30px;
}

/* About Img */ 


.about-item img{
    width: 80%;
    height: 80%;
    display: block;
    border-radius: 10px;
}

/* About Content */
.about-item h2{
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    font-style: bold;
    font-weight: 700;
    color: var(--title);
}
.about-item p{
    margin: 15px 0 30px 0;
    word-spacing: 1.3px;
    font-size: 24px;
    color: var(--secondary-color);

}

/* About button */
.about-btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2.5px solid var(--secondary-color); 
    border-radius: 50px;
    color: var(--secondary-color);
    font-size: 24px;
    font-style: bold;
    font-family: 'Google Sans', sans-serif;
    cursor: pointer;
    margin-bottom: 5vh;
}

.about-btn:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    transition: all 0.3s ease;
    transform: scale(1.1);
}


/* About - Quote box */
.quote-box {
  background-color: var(--quote-color);
  color: var(--secondary-color);
  font-family: 'Dancing Script', cursive;
  font-size: 56px;
  padding: 20px 10px;
  border-radius: 10px;
  border-left: 20px solid var(--title);
  width: 90%;
  margin: 30px 0;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

.quote-box.active {
  animation: fadeFloat 2.5s ease-out forwards;
  opacity: 40;
}

.quote-box span {
  font-size: 36px;
  display: block;
  margin-top: 10px;
  font-style: italic;
}

@keyframes fadeFloat {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Menu Styles */

.menu{
    background-color: var(--main-color);
    background-image: url('./asset/img/background-menu.png');
    background-size: calc(100% + 200px);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.menu-title, .menu-nav {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-button {
    background-color: transparent;
    margin: 0px 35px;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: var(--secondary-color);
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}

.menu-title h2 {
    font-size: 55px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    padding-bottom: 20px;
    color: var(--secondary-color);
}

.menu-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--title);
    font-size: 30px;
}

.menu-button:hover{
    color: var(--title);
    transform: scale(1.2);
}

/* Menu Container */
.menu-container{
    width: 90%;
    height: auto;
    margin: 30px auto;
    display: grid; 
    justify-items: center;
    align-items: center;   
    grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
}

.menu-container .menu_card{
    width: 90%;
    height: 540px;
    padding-top: 10px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
    animation: fadeFloat 1.5s ease-out forwards;
    opacity: 20;
}

.menu-container .menu_card .menu_image{
    width: 90%;
    height: 300px;
    margin: auto;
    overflow: hidden;
    padding-top: 10px;
    border-radius: 10px;
}

.menu-container .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
    border-radius: 10px;
}

.menu-container .menu_card .menu_image:hover img{
    transform: scale(0.8);
}

.menu-container .menu_card .menu_info{
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.menu-container .menu_card .menu_info h2 {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr auto 1fr; /* left spacer, centered, right */
    align-items: center;
    font-size: 28px;
    color: var(--main-color);
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    overflow-x: hidden;
    text-align: center;
}

.menu-container .menu_card .menu_info h2 .menu-title {
    grid-column: 2; /* center */
}

.menu-container .menu_card .menu_info h2 .favorite {
    grid-column: 3;
    justify-self: end; /* right edge */
    margin-left: 5px;
    cursor: pointer;
    font-size: 22px;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--about-color);   /* black border */
    border-radius: 50%;        /* optional: make it circular */
    padding: 8px;   
}

.menu-container .menu_card .menu_info .favorite i {
  color: #fac031;            
  font-size: 22px;           
}

.menu-container .menu_card .menu_info .favorite.is-favorited {
  background-color: var(--main-color);   
}


.menu-container .menu_card .menu_info p{
    width: 80%;
    height: 50px;
    text-align: center;
    line-height: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

.menu-container .menu_card .menu_info h3{
    text-align: center;
    font-size: 28px;
    color: #3b3305;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}

.menu-container .menu_card .menu_info .menu_order{
    width: 20%;
    height: auto;
    color: white;
    background: var(--main-color);
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.menu-container .menu_card .menu_info .menu_order:hover{
    transform: scale(1.1);
    background-color: var(--title);
    color: var(--main-color);
    font-weight: 600;
    font-size: 22px;
}

.menu-container .menu_card .menu_info .menu_order.clicked {
  transform: scale(1.1);          
  background-color: var(--accent-color);
}

/*Contact Section Styles */
.contact{
    background-color: var(--contact-color);
}

.contact-title{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


.contact-title h2 {
    font-size: 55px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    padding-bottom: 20px;
    color: var(--secondary-color);
}

.contact-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--title);
    font-size: 30px;
}

.contact .row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.contact-left-col img{
    width: 100%;
    border-radius: 10px;
}

.contact-right-col form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: auto;
}

.contact-right-col fieldset{
    border: none;
    margin: 10px;
    width: 80%;
}

.contact-right-col form label{
  display: block;
  margin: 0.5rem 0;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: 500;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: left;
}

.contact-right-col form input, .contact-right-col form textarea{
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    background-color: var(--secondary-color)
}

.contact-right-col button{
    background-color: var(--secondary-color);
    color: var(--main-color);
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 24px;
    cursor: pointer;
    margin-top: 10px;
    transition: all 0.3s ease;
    width: 300px;
    font-weight: 600;  
}

.contact-right-col button:hover{
    transform: scale(1.1);
    background-color: var(--title);
    color: var(--secondary-color);
}

.contact-right-col form input:focus, .contact-right-col form textarea:focus{
    outline: 5px solid var(--title);
}   
/* Footer Styles */ 

footer{
    width: 100%;
    padding: 30px 0 0 0;
    background: var(--footer-color);
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main .footer_tag h2{
    color: var(--secondary-color);
    margin-bottom: 15px;
    font-size: 30px;
}

footer .footer_main .footer_tag p, a{
    color: var(--secondary-color);
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    font-weight: 500;
}


footer .footer_main .footer_tag p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

footer .footer_main .footer_tag p:hover{
    color: var(--text-color);
    cursor: pointer;
}

footer .footer_main .footer_tag a:hover{
    color: var(--text-color);
    transform: scale(1.2);
    cursor: pointer;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 30px;
}

footer .footer_main .footer_tag i:hover{
    color: var(--text-color);
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    color: var(--secondary-color);
}

footer .end span{
    color: var(--text-color);
    margin-left: 10px;
}

footer {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}