/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Niconne&family=Oregano:ital@0;1&display=swap');
/* Global Styles */
:root {
    --main-color: #3b3305;
    --secondary-color:#f5f0d0;
    --title: #c7983c;
    --about-color: #4a410a;
    --menu-color: #3e380c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body{
    overflow-x: hidden;
}

.section-padding{
    padding: 70px 0;
}


/* Reset default styles for all elements */
ul {
    list-style: none;
}

/* Remove underline from all anchor tags */
a {
    text-decoration: none;
}


/* Top Section 
Container and Row Styles */
.container {
    margin: auto;
    max-width: 95%;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.row.justify-content-between {
    justify-content: space-between;

}

.top {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1000;

}
/* Top animation after scrolling down */ 
.top::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transform: translateY(-100%);
    transition: all 0.3s ease;
}

.top.active::before {
    transform: translateY(0);
}



/* Logo styles */   
.top .logo img {
    width: 120px;
}

.logo-light{
filter: brightness(0) saturate(90%) invert(90%) sepia(10%) saturate(300%) hue-rotate(30deg);
}


/* Hamburger nav styles */
.top .nav-bar {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center ;

}

.top .nav-bar span{
    display: block;
    height: 3px;
    width: 40px;
    background-color: var(--secondary-color);
    position: relative;
}

.top .nav-bar span::before {
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-10px);
    background-color: var(--secondary-color);    
}

.top .nav-bar span::after {
    height: 100%;
    width: 100%;
    content: '';
    display: block;
    position: absolute;
    transform: translateY(10px);
    background-color: var(--secondary-color);
    transition: all 0.3s ease;     
} 

/* Convert hamburger-nav icon to cross-nav icon when clicked */
.top .nav-bar.active span {
    background-color: transparent;
}

.top .nav-bar.active span::before {
    transform: rotate(-135deg);
}

.top .nav-bar.active span::after {  
    transform: rotate(135deg);
}

/* nav item animation when nav bar is active */
.top .nav-bar.active {
    position: relative;
    top: 10%;
    z-index: 1001;
    transition: transform 0.3s ease;
}


/* Navigation item styles */
.nav-items {
    position: absolute;
    width: 13vw;
    height: 100vh;
    background-color: var(--main-color);
    right: 0;
    top: 0;
    padding: 77px 0 0 0;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    opacity: 0.8;
}

.nav-items.active {
    transform: translateX(0);
}
.nav-items a{
  display: block; 
  width: 100%; 
  padding: 20px; 
  position: relative; 
  z-index: 2;
  text-decoration: none;
  color: var(--secondary-color);
  text-align: center;
  font-size: 30px;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: bold;
  -moz-box-sizing: border-box;  
  -webkit-box-sizing: border-box; 
   box-sizing: border-box;  
}

/* Menu item hover effect */

.nav-items a:hover{ border-bottom: 0px; color: var(--main-color);}

.nav-items a:after { 
  content: "";
  height: 100%; 
  left: 0; 
  top: 0; 
  width: 0px;  
  position: absolute; 
  -webkit-transition: all 0.3s ease 0s; 
  transition: all 0.3s ease 0s; 
  z-index: -1;
  background: var(--secondary-color); 
}

.nav-items a:hover:after {
     width: 100%;
    }

/* Nav Logo Style */
.nav-items .logo img {
    width: 200px;
    margin-top: 50vh;
}

.nav-items .logo {
    text-align: center;
}


/* Hero Section Styles */

/* Hero-Image Section */
.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden; /* hide any overflow content */
}

.hero-image::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('./asset/img/hero-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.85;
    z-index: -2;
    animation: Inout 10s infinite;
}   

@keyframes Inout {
    0%, 100%{
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}   

.hero-image::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(43, 41, 41, 0.4);
    opacity: 0.3;
    z-index: -1;
} 

.hero-image .hero-image-content {
    text-align: center;
    color: rgb(237, 239, 226);
}

.hero-image-content h2{
    font-size: 70px;    
    font-weight: bold;
    margin: -120px 0 0px 0;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;

}

.hero-image-content p {
    font-size: 35px;
    font-family: "Dancing Script", monospace;
    font-optical-sizing: auto;
    font-weight: 500; 
    font-style: normal;
    margin: 15px 0 20px 0;

}

/* Hero Button Styles */

.hero-btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2.5px solid var(--main-color); 
    border-radius: 50px;
    color: var(--main-color);
    font-size: 24px;
    font-style: bold;
    font-family: 'Google Sans', sans-serif;
    cursor: pointer;
}

.hero-btn:hover {
    background-color: var(--main-color);
    color: var(--secondary-color);
    transition: all 0.3s ease;
    transform: scale(1.1);
}

/* About Page Styles */
.about-item {
    width:  calc(100%/2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    background-color: var(--about-color);
}

/* About Title */ 

.about-title{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.about-title h2{
    font-size: 55px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-style: bold;
    padding-bottom: 20px;
    color: var(--secondary-color);
}

.about-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--title);
    font-size: 30px;
}

/* About Img */ 


.about-item img{
    width: 80%;
    height: 80%;
    display: block;
    border-radius: 10px;
}

/* About Content */
.about-item h2{
    font-size: 35px;
    font-family: "Dancing Script", cursive;
    font-style: bold;
    font-weight: 700;
    color: var(--title);
}
.about-item p{
    margin: 15px 0 30px 0;
    word-spacing: 1.3px;
    font-size: 24px;
    color: var(--secondary-color);

}

/* About button */
.about-btn {
    background-color: transparent;
    padding: 15px 30px;
    border: 2.5px solid var(--secondary-color); 
    border-radius: 50px;
    color: var(--secondary-color);
    font-size: 24px;
    font-style: bold;
    font-family: 'Google Sans', sans-serif;
    cursor: pointer;
    margin-bottom: 5vh;
}

.about-btn:hover {
    background-color: var(--secondary-color);
    color: var(--main-color);
    transition: all 0.3s ease;
    transform: scale(1.1);
}


/* About - Quote box */
.quote-box {
  background-color: var(--main-color);
  color: var(--secondary-color);
  font-family: 'Dancing Script', cursive;
  font-size: 56px;
  padding: 20px;
  border-left: 5px solid var(--title);
  width: 80%;
  margin: 30px 0;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.quote-box.active {
  animation: fadeFloat 2.5s ease-out forwards;
  opacity: 0;
}

.quote-box span {
  font-size: 40px;
  display: block;
  margin-top: 10px;
  font-style: italic;
}

@keyframes fadeFloat {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Menu Styles */
.menu{
    background-color: var(--menu-color);
}

.menu-title, .menu-nav {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.menu-button {
    background-color: transparent;
    margin: 0px 35px;
    border: none;
    cursor: pointer;
    font-size: 35px;
    color: var(--secondary-color);
    font-family: "Dancing Script", cursive;
    font-weight: 700;
}

.menu-title h2 {
    font-size: 55px;
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    padding-bottom: 20px;
    color: var(--secondary-color);
}

.menu-title h2::before{
    content: attr(data-title);
    display: block;
    color: var(--title);
    font-size: 30px;
}

.menu-button:hover{
    color: var(--title);
    transform: scale(1.2);
}

/* Menu Container */
.menu-container{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: space-around;

}

.menu-container .menu_card{
    width: 30%;
    height: 48%;
    padding-top: 10px;
    margin-bottom: 20px;
    background-color: var(--secondary-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.menu-container .menu_card .menu_image{
    width: 90%;
    height: 55%;
    margin: 0 auto;
    overflow: hidden;
}

.menu-container .menu_card .menu_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.menu-container .menu_card .menu_image:hover img{
    transform: scale(1.1);
}

.menu-container .menu_card .small_card{
    width: 45px;
    height: 45px;
    float: right;
    position: relative;
    top: -240px;
    right: -8px;
    opacity: 0;
    border-radius: 7px;
    transition: 0.3s;
}

.menu-container .menu_card:hover .small_card{
    position: relative;
    top: -240px;
    right: 20px;
    opacity: 1;
}

.menu-container .menu_card .small_card i{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 50px;
    color: #000;
    cursor: pointer;
    text-shadow: 0 0 6px #000;
    transition: 0.2s;
}

.menu-container .menu_card .small_card i:hover{
    color: #fac031;
}

.menu-container .menu_card .menu_info h2{
    width: 60%;
    text-align: center;
    margin: 10px auto 10px auto;
    font-size: 25px;
    color: #fac031;
}

.menu-container .menu_card .menu_info p{
    text-align: center;
    margin-top: 8px;
    line-height: 21px;
}

.menu-container .menu_card .menu_info h3{
    text-align: center;
    margin-top: 10px;
}

.menu-container .menu_card .menu_info .menu_icon{
    color: #fac031;
    text-align: center;
    margin: 10px 0 10px 0;
}

.menu-container .menu_card .menu_info .menu_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background: #000;
    padding: 8px 10px;
    margin: 0 80px;
    transition: 0.3s;
}

